<nav class="navbar navbar-default navbar-pf container" id="top-navbar" role="navigation" ng-controller="BarraNavegacaoCtrl" ng-cloak>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            <strong style="color: #FFF">REDE</strong> <strong style="color: #FB493C">CULTURA VIVA</strong>
        </a>
    </div>
    <div class="collapse navbar-collapse navbar-collapse-1">
        <ul class="nav navbar-nav navbar-utility">
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="pficon pficon-user"></span>
                    {{user.name}} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0)" ng-click="logout()">
                            Sair
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-primary">
            <li ui-sref-active="active">
                <a ui-sref="pagina.relatorios">Início</a>
            </li>
            <li
                ng-class="{active:$state.includes('pagina.certificacao.*')}"
                access-level="AGENTES"
                >
                <a ui-sref="pagina.certificacao.lista">Avaliações</a>
            </li>
            <li class="dropdown"
                ng-class="{active:$state.includes('pagina.configuracao.*')||$state.includes('pagina.configuracao.*.*')}"
                access-level="AGENTE_AREA"
                >
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Configurações
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropup">
                    <li ui-sref-active="active" >
                        <a ui-sref="pagina.configuracao.criterios">Critérios</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="pagina.configuracao.certificador.lista">Certificadores</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
