<div ng-controller="PaginaCtrl" id="page-wraper" block-ui="main" ng-cloak>

    <!--Menu superior, header-->
    <div ng-include="'modules/AppAdmin/templates/BarraNavegacao.html'"></div>

    <div class="container main-container" id="page-content-container">
        <ol class="breadcrumb" ng-if="pagina.breadcrumb">
            <li ng-repeat="item in pagina.breadcrumb">
                <a ui-sref="{{item.sref}}" ng-if="item.sref">{{item.title}}</a>
                <span ng-if="!item.sref">{{item.title}}</span>
            </li>
            <li>{{pagina.titulo}}</li>
        </ol>

        <header class="page-header {{pagina.classTitulo}}">
            <h1>
                <div class="pull-right" ng-if="pagina.ajudaTemplateUrl">
                    <a
                        uib-popover-template="pagina.ajudaTemplateUrl"
                        popover-placement="left-top"
                        popover-class="popover-lg"
                        popover-trigger="click"
                        popover-append-to-body="true"
                        popover-animation="false"
                        style="cursor: help"
                        >
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a>
                </div>
                {{pagina.titulo}}
            </h1>
            <p class="lead" ng-if="pagina.subTitulo">{{pagina.subTitulo}}</p>
        </header>

        <!--Exibe mensagens de notificações gerais-->
        <tc-notitication></tc-notitication>

        <!--conteúdo da página-->
        <ui-view/>
    </div>
</div>

