<div ng-controller="CertificadorListaCtrl" ng-cloak>
    <uib-tabset>
        <uib-tab>
            <uib-tab-heading>
                <span class="hidden-xs">Poder</span> Público
                <span class="badge">
                    {{certificadores.publico.titular.length|| 0}}-{{certificadores.publico.suplente.length|| 0}}
                </span>
            </uib-tab-heading>

            <header class="section-header ">
                <h2>Titulares</h2>
            </header>
            <certificador-lista-tabela
                certificadores="certificadores.publico.titular"
                descricao="Titulares do Poder Público"
                >
            </certificador-lista-tabela>

            <header class="section-header ">
                <h2>Suplentes</h2>
            </header>
            <certificador-lista-tabela
                certificadores="certificadores.publico.suplente"
                descricao="Suplentes do Poder Público"
                >
            </certificador-lista-tabela>
        </uib-tab>

        <uib-tab>
            <uib-tab-heading>
                <span class="hidden-xs">Sociedade</span> Civil
                <span class="badge">
                    {{certificadores.civil.titular.length|| 0}}-{{certificadores.civil.suplente.length|| 0}}
                </span>
            </uib-tab-heading>

            <header class="section-header ">
                <h2>Titulares</h2>
            </header>
            <certificador-lista-tabela
                certificadores="certificadores.civil.titular"
                descricao="Titulares da Sociedade Civil"
                >
            </certificador-lista-tabela>

            <header class="section-header ">
                <h2>Suplentes</h2>
            </header>
            <certificador-lista-tabela
                certificadores="certificadores.civil.suplente"
                descricao="Suplentes da Sociedade Civil"
                >
            </certificador-lista-tabela>
        </uib-tab>

        <uib-tab>
            <uib-tab-heading>
                <span class="hidden-xs">Voto de</span> Minerva
                <span class="badge">
                    {{certificadores.minerva.titular.length|| 0}}-{{certificadores.minerva.suplente.length|| 0}}
                </span>
            </uib-tab-heading>

            <header class="section-header ">
                <h2>Titulares</h2>
            </header>
            <certificador-lista-tabela
                certificadores="certificadores.minerva.titular"
                descricao="Titulares com Voto de Minerva"
                >
            </certificador-lista-tabela>

            <header class="section-header ">
                <h2>Suplentes</h2>
            </header>
            <certificador-lista-tabela
                certificadores="certificadores.minerva.suplente"
                descricao="Suplentes com Voto de Minerva"
                >
            </certificador-lista-tabela>
        </uib-tab>
    </uib-tabset>

    <div class="row">
        <div class="form-buttons col-md-12">
            <div class="text-right form-buttons-content">
                <span>
                    <span>&nbsp;</span>
                    <a
                        class="btn btn-primary"
                        ui-sref="pagina.configuracao.certificador.formulario"
                        >
                        Adicionar Certificador
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>