<div class="row">
    <div class="list-group list-view-pf list-view-pf-view" ng-show="certificadores.length > 0">
        <div class="list-group-item" ng-repeat="certificador in certificadores| orderBy: '-isActive'">

            <div class="list-view-pf-actions">
                <button class="btn btn-primary"
                        type="button"
                         ui-sref="pagina.configuracao.certificador.formulario({id:{{certificador.id}}})"
                        >
                    Editar
                </button>
            </div>

            <div class="list-view-pf-main-info">
                <div class="list-view-pf-left">
                    <span
                        class="pficon pficon-ok list-view-pf-icon-md list-view-pf-icon-success"
                        ng-show="certificador.ativo"
                        title="Ativo"
                        >
                    </span>
                    <span
                        class="pficon pficon-error-circle-o list-view-pf-icon-md list-view-pf-icon-danger"
                        ng-hide="certificador.ativo"
                        title="Inativo"
                        >
                    </span>
                </div>
                <div class="list-view-pf-body">
                    <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                            {{certificador.agenteNome}}
                        </div>

                    </div>
                    <div class="list-view-pf-additional-info">
                        <div
                            class="list-view-pf-additional-info-item"
                            title="{{certificador.avaliacoesPendentes}} Avaliações Pendentes"
                            >
                            <span class="pficon  glyphicon glyphicon-time"></span>
                            <strong>{{certificador.avaliacoesPendentes}}</strong> Pendentes
                        </div>
                        <div
                            class="list-view-pf-additional-info-item"
                            title="{{certificador.avaliacoesEmAnalise}} Avaliações Em Análise"
                            >
                            <span class="pficon  glyphicon glyphicon-play-circle"></span>
                            <strong>{{certificador.avaliacoesEmAnalise}}</strong> Em Análise
                        </div>
                        <div
                            class="list-view-pf-additional-info-item"
                            title="{{certificador.avaliacoesFinalizadas}} Avaliações Finalizados"
                            >
                            <span class="pficon  glyphicon glyphicon-ok-circle"></span>
                            <strong>{{certificador.avaliacoesFinalizadas}}</strong> Finalizados
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blank-slate-pf" ng-hide="certificadores.length > 0">
        <p>
            Adicione novos agentes certificadores {{descricao}} pelo botão
            <strong>Adicionar Certificador</strong> abaixo.
        </p>
    </div>
</div>