
// --------------------------------------------------
// Rules to overwrite styles it comes from a header and footer Wordpress
// --------------------------------------------------
//## Style rules that override conflicts and specifies selectors

a,
article .entry-meta,
article .entry-footer{
  color: #0d1f49;
}
.widget-title{
  border-color: #0d1f49;
}
header.site-header {
  background: #1e3365;
}
header.site-header .service-bar-container {
  background: #0d1f4a !important;
}
#shortcut-bar li a span {
  color: #fff;
  background-color: #0d1f4a !important;
  padding: 2px 5px;
  border-radius: 4px;
}
ul#menu-menu-principal {
  margin-left: 0 !important;
}
li#menu-item-3003 {
  float: right;
  position: absolute;
  right: -6px;
  padding-left: 14px;
}
.et_pb_slide.et_pb_bg_layout_dark.et_pb_media_alignment_center.et_pb_slide_0.et-pb-active-slide {
  background: #102b6b !important;
  box-shadow: 5px 5px 5px #000 !important;
  height: 366px;
}
.et_divi_builder #et_builder_outer_content .et_pb_slide_description, .et_divi_builder #et_builder_outer_content .et_pb_slider_fullwidth_off .et_pb_slide_description {
  padding: 9% 8% !important;
  width: auto;
  margin: auto;
}
.et_pb_module.et_pb_slider.et_pb_slider_fullwidth_off.et_pb_slider_0.et_pb_bg_layout_dark {
  box-shadow: 0px 2px 6px #000 !important;
  border-radius: 10px;
  z-index: 0;
}
#titulo h1 {
  background: #c3eae9;
  padding-top: 10px;
  padding-left: 18px;
  padding-bottom: 10px;
  border-bottom: 2px solid #102b6b;
  font-size: 22px;
  color: #102b6b;
  font-weight: bold;
}
article.has-post-thumbnail {
  background: transparent !important;
  padding: 0 !important;
  overflow: hidden !important;
  border: 0 !important;
}
#noticias .et_divi_builder #et_builder_outer_content .et_pb_module a {
  color: #511c65 !important;
  font-weight: bold !important;
}
.et_divi_builder #et_builder_outer_content .et_pb_post .entry-featured-image-url {
  position: relative;
  margin-bottom: 30px;
  max-height: inherit;
  overflow: hidden;
  display: block;
  border-radius: 4px !important;
}
.et_divi_builder #et_builder_outer_content .et_pb_blog_grid_wrapper .et_pb_blog_grid article {
  border-bottom: 0 !important;
}
#oportunidades {
  background: #e7ff94 !important;
  padding: 0 26px !important;
  border-radius: 4px !important;
  padding-bottom: 20px !important;
  min-height: 400px !important;
}

div#oportunidades:before {
  content: "Destaques" !important;
  font-size: 23px !important;
  font-weight: bold !important;
  color: #00385a !important;
  padding-top: 24px !important;
  display: block !important;
  text-transform: uppercase !important;
  padding-bottom: 15px !important;
  text-indent: -2px  !important;
}


#oportunidades {
  background: #e7ff94 !important;
  padding: 0 26px !important;
  border-radius: 4px !important;
  padding-bottom: 20px !important;
  min-height: 400px !important;
}
#oportunidades article.has-post-thumbnail {
  background: transparent !important;
  padding: 0 !important;
  overflow: hidden !important;
  border: 0 !important;
  position: relative !important;
  padding-top: 20px !important;
  margin-bottom: -2px !important;
}
#oportunidades .et_pb_post .post-meta {
  margin-bottom: 23px !important;
  font-size: 14px !important;
  margin-top: -13px !important;
  border-radius: 4px !important;
  margin-top: -3px !important;
  color: #b17c00 !important;
  position: absolute !important;
  top: -2px !important;
  left: 0 !important;
}
#oportunidades .et_divi_builder p.post-meta, p.post-meta a {
  color: #ff7e55 !important;
  font-weight: bold;
}
#oportunidades .et_divi_builder #et_builder_outer_content .et_pb_posts .et_pb_post {
  margin-top: -7px !important;
  margin-bottom: 2px;
}
header.site-header .service-bar-container .service-bar li a {
  border: 0 none !important;
}
article#post-2950 {
  background: #8bd4e2;
}
#oportunidades .post-content {
  display: none !important;
}
footer.site-footer {
  background-color: #1e3365 !important;
}
#footer-brasil.verde {
  background-color: #0d1f4a !important;
}
.site-footer .widget .widget-title{
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
li#menu-item-3003:after{
  background-size: 100%;
  height: 14px;
  position: absolute;
  content: "";
  top: 11px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 14px;
  left: 0px;
}
header.site-header .social-media-links li a {
  display: block;
  line-height: 20px;
  width: 20px;
  font-size: 16px;
  text-align: center;
  background: #ffffff;
  color: #0d1f4a;
  border-radius: 4px;
}
.et_divi_builder #et_builder_outer_content .et_pb_section {
  padding: 2% 0;
}
ul#menu-menu-principal ul.dropdown-menu.show {
  background: #0d1f4a;
}
.et_pb_section.et_pb_section_1.et_pb_with_background.et_section_regular {
  padding: 0 !important;
}
header.site-header .service-bar-container {
  background: #0d1f4a !important;
  background-color: #0d1f4a !important;
  margin-top: -1px !important;
  box-shadow: 0px 2px 6px #000;
  position: relative;
  padding-top: 4px;
  z-index: 10;
  padding-bottom: 4px;
}
.dropdown-toggle::after {
  color: #fbff49;
}
i.fa.fa-search {
  color: #0d1f4a;
}
header.site-header .social-media-links li:first-child a {
  display: none;
}
a.et_pb_button.et_pb_button_0.et_pb_module.et_pb_bg_layout_light:hover {
  background: #52b8ce !important;
}
a, article .entry-meta, article .entry-footer {
  color: #223e80;
}
input#submit {
  background: #1e3365 !important;
}
.high-contrast.et_divi_builder #et_builder_outer_content .et_pb_section_1.et_pb_section {
  background: #000 !important;
}
body.high-contrast.tema-custom #header .menu-menu-principal-container, body.high-contrast.tema-custom #header .sub-menu {
  background: #232323 !important;
}
body.tema-custom.high-contrast #accessibility span {
  background: #525252 !important;
}
body.high-contrast a img {
  -webkit-filter: initial !important;
  -moz-filter: initial !important;
  -ms-filter: initial !important;
  -o-filter: initial !important;
  filter: initial !important;
}
body.high-contrast .et_pb_text_0, body.high-contrast .et_pb_text_0 * {
  background: #232323;
  color: #fff !important;
}
body.high-contrast .et_pb_text_1, body.high-contrast .et_pb_text_1 * {
  background: #FFF;
  color: #fff !important;
  -webkit-filter: initial !important;
  -moz-filter: grayscale(100%) !important;
  -ms-filter: grayscale(100%) !important;
  -o-filter: grayscale(100%) !important;
  filter: grayscale(100%) !important;
}
.high-contrast .et_pb_section_1.et_pb_section {
  background: #000 !important;
}
.high-contrast .et_pb_section.et_pb_section_parallax.et_pb_section_0.et_pb_with_background.et_section_regular {
  -moz-filter: grayscale(100%) !important;
  -moz-filter: grayscale(100%) !important;
  -ms-filter: grayscale(100%) !important;
  -o-filter: grayscale(100%) !important;
  filter: grayscale(100%) !important;
}
.high-contrast div#header {
  -moz-filter: grayscale(100%) !important;
  -ms-filter: grayscale(100%) !important;
  -o-filter: grayscale(100%) !important;
  filter: grayscale(100%) !important;
}

body.high-contrast h2.entry-title a {
  color: #fff !important;
}
.high-contrast article .vcard a {
  color: #fff !important;
}
body.high-contrast .post-content p {
  color: #fff !important;
}
body.high-contrast #et_builder_outer_content .et_pb_button_0.et_pb_module {
  color: #ffffff!important;
  letter-spacing: 0px;
  background-color: #000000;
}
body.high-contrast article#post-2950 {
  background: #000000;
}
body.high-contrast footer.site-footer {
  background-color: #000000 !important;
}
body.high-contrast footer#main-footer {
  background: #232323 !important;
}
body.high-contrast #oportunidades h2.entry-title a {
  color: #000 !important;
}
body.high-contrast header.site-header .service-bar-container {
  background: #313131 !important;
}
body.high-contrast #titulo h1 {
  background: #2f2f2f;
  padding-top: 10px;
  padding-left: 18px;
  padding-bottom: 10px;
  border-bottom: 2px solid #545454;
  font-size: 22px;
  color: #102b6b;
  font-weight: bold;
}

.high-contrast  #footer-brasil.verde {
  background-color: #171717 !important;
}
.high-contrast  header.site-header>div.container {
  -moz-filter: grayscale(100%) !important;
  -ms-filter: grayscale(100%) !important;
  -o-filter: grayscale(100%) !important;
  filter: grayscale(100%) !important;
}


header#main-header header.site-header .row , #footer.site-footer .row{
  margin: 0 auto !important;
}


header#main-header header.site-header
.dropdown{
  position: inherit;
  display: inherit;
  height: inherit;
  margin: inherit;
  background-color: inherit;
  color: inherit;
  border-radius: inherit;
  line-height: inherit;
  vertical-align: inherit;
}


header#main-header header.site-header button[type='submit'] {
  border: 1px solid transparent;
}
header#main-header header.site-header .site-title a {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -2px;
  font-weight: 800 !important;
  margin: 0;
  font-family: "Open Sans";
}
#footer.site-footer .menu > li {
  position: relative;
  list-style-type: none;
  float: none;
  box-sizing: border-box;
  padding: inherit;
  border-top: none;
  box-shadow: inherit !important;
  -webkit-box-shadow: inherit !important;
}
#footer.site-footer .widget {
  border-left: none;
  padding-left: 0px;
  border-bottom: 0 !important;
}
div#header-search-row {
  z-index: 0 !important;
}
header#main-header header.site-header .dropdown-menu{
  left: inherit !important;
}

body.controller-site.action-search.ng-scope.touch-device {
  overflow: hidden !important;
}
body.controller-site.action-search.ng-scope.touch-device.body-show-search-on-list {
  overflow-y: scroll !important;
}

#filtro-local #near-me {
  background: #000000 url(../img/icon-localizacao.png) center no-repeat !important;
}



.leaflet-draw-toolbar .leaflet-draw-draw-circle, .leaflet-retina .leaflet-draw-toolbar .leaflet-draw-draw-circle {
  background-image: url(../img/icon-circulo.png) !important;
}

.leaflet-control-layers-toggle, .leaflet-retina .leaflet-control-layers-toggle {
  width: 32px;
  height: 32px;
  background-image: url(../img/layers.png) !important;
}

.leaflet-control-zoom-in {
  background-image: url(../img/icon-zoom-in.png) !important;
}
.leaflet-control-zoom-out {
  background-image: url(../img/icon-zoom-out.png) !important;
}

.leaflet-control-zoom-fullscreen, .leaflet-retina .leaflet-control-zoom-fullscreen {
  background-image: url(../img/icon-fullscreen.png) !important;
}

.leaflet-cluster.cluster-agent {
  background-image: url(../img/agrupador-agent.png) !important;
}
#header-search-row .dropdown {
  position: relative;
  display: inline-block;
  height: 2rem;
  margin: 0;
  background-color: #e2e2e2;
  color: #000000;
  border-radius: 2px;
  font-size: 0.75rem;
  line-height: 1.875rem;
  vertical-align: top;
}
#search-results-header {
  z-index: -1 !important;
}
div#header-search-row {
  z-index: 1000 !important;
}

header.ssite-header {
  background: #1e3365;
  position: relative;
  z-index: 1001;
}
.dropdown .placeholder:after {
  content: "3";
  position: absolute;
  right: 0;
  width: 1.5rem;
  text-align: center;
  font-family: "ElegantIcons";
  speak: none;
  font-size: 1rem;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  cursor: pointer;
}
.widget > h3 {
  margin-bottom: 0.75rem;
  font-size: .70rem;
  line-height: 1.5rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #888;
}

span.descricao.js-editable {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

span.js-editable {
  font-weight: bold;
  font-family: "Open Sans", serif;
  color: #000000;
}
.aba-content h3 {
  font-weight: bold !important;
}

section#main-section .btn-primary {
  color: #fff;
  background-color: #F99922;
  border: 1px solid #e28006;
  display: inline-block;
  box-sizing: border-box;
  height: 2rem;
  padding: 0 0.5rem;
  border-radius: 2px;
  line-height: 1.875rem;
  font-size: 0.75rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  transition: all .3s;
  cursor: pointer;
}
html {
  display: block !important;
  transition: all 0.5s ease;
}
header.site-header {
  background: #1e3365;
  position: relative;
  z-index: 1001 !important;
}
span.js-editable {
  font-weight: lighter;
  font-family: "Open Sans", serif;
  color: #000000;
}

body {
  line-height: 1.5;
  background-image: linear-gradient(to right, #0e204a 0%, #274488 50%, #0e204a 100%) !important;
}

.servico > p, .infos p {
  margin-bottom: 0;
  font-size: 0.75rem !important;
  color: #888;
}

#page-cadastro section.boxs-cadastro article .infos .texto p {
  font-size: 0.9em !important;
}

#page-cadastro section.boxs-cadastro article .infos {
  padding: 10px 10px 7px 0px;
  width: 480px;
  height: 70px;
  box-sizing: initial !important;
}

article {
  font-family: inherit !important;
  margin-bottom: inherit !important;

}

article#box-saudacao{
  background-color: #0e204a;
  box-shadow: 0 0 5px 0px #000 !important;
  padding-top: 1px;
  padding-bottom: 40px;
}

#header + #page-cadastro section.boxs-cadastro article header .btn_mais {
  //width: 24px;
  padding: 1px 6px !important;
}

.btn {
  padding: 0 0.5rem !important;
  line-height: 1.875rem !important;
  font-size: 0.75rem !important;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  font-weight: bold !important ;
}

#main-section .row{
  //display: table-row !important ;
}

#main-section {
  margin-top: 2% !important;
}

span.btn_mais {
  line-height: 1.0;
}

#page-cadastro section.boxs-cadastro article header .btn_mais {
  padding: 1px 6px !important ;
}

.page-base-form .row {
  display: inherit;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.tag-clear {
  color: #fff !important;
  background: #000000 !important;
}

.tag, .tag-selected :hover {
  display: inline-block;
  margin-right: .25rem;
  margin-bottom: .25rem;
  padding: 0 0.5rem;
  background-color: #fff;
  border-radius: 2px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: .7rem;
  line-height: 1.5rem;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.tag:hover, .tag-selected:hover {
  color: #fff !important;
  background: #000000;
  text-decoration: none;
}

.icon-home:before {
  content: "e" !important;
}

.sidebar.seal{
  display: none;
}

#infobox {
  top: -19px !important;
  position: relative !important;
  z-index: 01 !important;
}

.breadcrumb{
  display: none !important;
}