<div>
    <p>
        Prezado(a),
    </p>
    <p>
        Informo que seu cadastro na Plataforma Rede Cultura Viva foi analisado e <strong><u>inabilitado</u></strong> pela Comissão de Certificação 
        Simplificada de Pontos e Pontões de Cultura, instância responsável pela habilitação e certificação das solicitações 
        apresentadas ao Cadastro Nacional de Pontos e Pontões de Cultura, em observância aos procedimentos e exigências 
        dispostos na Lei 13.018/2014 e na Instrução Normativa MinC nº 8/2016.<br>
    </p>
    <p>
        Justificativa dos avaliadores para o indeferimento da certificação:
        <ol>
            {{#avaliacoes}}
            <li>
                <p>
                    {{observacoes}}<br>
                </p>
            </li>
            {{/avaliacoes}}
        </ol>

    </p>
    <p>
        Diante do exposto, caso tenha interesse em uma nova avaliação pela Comissão de Certificação Simplificada de Pontos e 
        Pontões de Cultura, solicitamos que complemente o cadastro de sua entidade na Plataforma da Rede Cultura Viva 
        <a href="http://culturaviva.gov.br/cadastro">http://culturaviva.gov.br/cadastro</a> dentro de 10 dias corridos.<br>
    </p>
    <p>
        Em caso de dúvidas acesse <a href="http://culturaviva.gov.br">http://culturaviva.gov.br</a> ou contate-nos pelo
        <a href="mailto:culturaviva@cultura.gov.br">culturaviva@cultura.gov.br</a>.<br>
    </p>
    <p>
        Atenciosamente,
        <br>
        Secretaria de Diversidade Cultural
        <br>
        Secretaria Especial da Cultura do Ministério da Cidadania
        <br>
        <a href="mailto:culturaviva@cultura.gov.br">culturaviva@cultura.gov.br</a>
        <br>
        <a href="http://culturaviva.gov.br">http://culturaviva.gov.br</a>
    </p>
</div>
