<div>
    <strong>Resumo</strong>
    <p>
        Nesta tela são exibidas as <strong>Inscrições</strong> existentes, agrupadas por estado das <strong>avaliações</strong>.
    </p>
    <strong>Totalizadores</strong>
    <div class="img-ajuda-certificacao-totalizador"></div>
    <p>
        Os totalizadores representam a quantidade de <strong>avaliações</strong> associadas ao usuário atual.
    </p>
    <p>
        Quando o usuário atual é <strong>Gestor</strong>, o total representa o número total de <strong>avaliações</strong>
        na situação corrente.
    </p>
</div>
