<div ng-controller="AvaliacaoListaCtrl" ng-cloak>
    <uib-tabset ng-init="{ref_active:0}">
        <uib-tab select="ref_active = 0">
            <uib-tab-heading>
                Pendentes
                <span class="badge">{{total.pendentes|| 0}}</span>
            </uib-tab-heading>

            <avaliacao-lista-tabela
                ng-if="ref_active === 0"
                estado="P"
                descricao="Pendentes"
                >
            </avaliacao-lista-tabela>
        </uib-tab>

        <uib-tab select="ref_active = 1">
            <uib-tab-heading>
                Em Análise
                <span class="badge">{{total.emAnalise|| 0}}</span>
            </uib-tab-heading>

            <avaliacao-lista-tabela
                ng-if="ref_active === 1"
                estado="A"
                descricao="Em Análise"
                >
            </avaliacao-lista-tabela>
        </uib-tab>

        <uib-tab select="ref_active = 2">
            <uib-tab-heading>
                Finalizadas
                <span class="badge">{{total.finalizadas|| 0}}</span>
            </uib-tab-heading>

            <avaliacao-lista-tabela
                ng-if="ref_active === 2"
                estado="F"
                descricao="Finalizadas"
                >
            </avaliacao-lista-tabela>
        </uib-tab>
    </uib-tabset>
</div>