<div class="card-pf card-pf-utilization card-pf-accented">
    <div class="card-pf-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row">
                    <tc-input-search
                        on-submit="filtrar(ref.filtrarTexto)"
                        ng-model="ref.filtrarTexto"
                        placeholder="Filtrar registros"
                        >
                    </tc-input-search>

                    <div class="col-md-12">
                        <br />
                        <tc-notitication id="bag-filtro-agentes"></tc-notitication>

                        <div ng-if="ref.data.total > 0" style="margin-top: 20px;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="inscricao in ref.data.rows">
                                    <div class="card-pf card-pf-accented card-pf-aggregate-status">
                                        <h2 class="card-pf-title">
                                            {{inscricao.pontoNome}}
                                            <p>
                                                <small>
                                                    <strong>
                                                        {{inscricao.entidadeNome}}
                                                    </strong>
                                                </small>
                                            </p>
                                            <p>
                                                <small>({{inscricao.tipoPontoDesejado}})</small>
                                            </p>

                                        </h2>
                                        <div class="card-pf-body" style="padding-bottom: 0;">
                                            <p class="card-pf-aggregate-status-notifications">
                                                <strong class="card-pf-aggregate-status-notification">
                                                    # {{inscricao.id}}
                                                </strong>
                                            </p>

                                            <div
                                                class="list-group-item list-view-pf-stacked"
                                                style="border: 0; margin: 0 -10px; padding: 0;"
                                                >

                                                <avaliacao-lista-certificador
                                                    certificador-tipo="Poder Publico"
                                                    certificador-id="{{inscricao.avaliacaoPublicaId}}"
                                                    estado-avaliacao="{{inscricao.avaliacaoPublicaEstado}}"
                                                    certificador-nome="{{inscricao.avaliacaoPublicaCertificador}}"
                                                    >
                                                </avaliacao-lista-certificador>

                                                <avaliacao-lista-certificador
                                                    ng-if="inscricao.avaliacaoCivilId"
                                                    certificador-tipo="Sociedade Civil"
                                                    certificador-id="{{inscricao.avaliacaoCivilId}}"
                                                    estado-avaliacao="{{inscricao.avaliacaoCivilEstado}}"
                                                    certificador-nome="{{inscricao.avaliacaoCivilCertificador}}"
                                                    >
                                                </avaliacao-lista-certificador>

                                                <avaliacao-lista-certificador
                                                    ng-if="inscricao.avaliacaoMinervaId"
                                                    certificador-tipo="Voto de Minerva"
                                                    certificador-id="{{inscricao.avaliacaoMinervaId}}"
                                                    estado-avaliacao="{{inscricao.avaliacaoMinervaEstado}}"
                                                    certificador-nome="{{inscricao.avaliacaoMinervaCertificador}}"
                                                    >
                                                </avaliacao-lista-certificador>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <pagination
                                total-items="ref.data.total"
                                ng-model="ref.pagina"
                                class="pagination-sm"
                                items-per-page="10"
                                max-size="10"
                                previous-text="&laquo;"
                                next-text="&raquo;"
                                >
                            </pagination>
                        </div>

                        <div class="blank-slate-pf" ng-show="ref.data.total < 1" style="margin-top: 20px;">
                            <p>
                                <span ng-show="ref.texto">
                                    Não foram encontrados avaliações {{descricao}} com o filtro informado.
                                </span>
                                <span ng-hide="ref.texto">
                                    Não existem avaliações {{descricao}}.
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>