<div ng-controller="AvaliacaoFormularioCtrl" ng-cloak>
    <tc-form on-save="salvar()" buttons="botoes" name="formCriterios" hide-buttons="!avaliacao.autorizaEdicao">

        <tc-input
            ng-model="avaliacao.pontoNome"
            label="Nome do Ponto/Pontão de Cultura"
            col="4"
            readonly="true"
            >
        </tc-input>

        <tc-input
            ng-model="avaliacao.certificadorNome"
            label="Nome do Agente Certificador responsável pela Avaliação"
            col="4"
            readonly="true"
            >
        </tc-input>

        <tc-input
            ng-model="situacaoAvaliacao"
            label="Situação da Avaliação"
            col="2"
            readonly="true"
            >
        </tc-input>

        <tc-input
            ng-model="situacaoInscricao"
            label="Situação da Inscrição"
            col="2"
            readonly="true"
            >
        </tc-input>

        <tc-input-text
            label="Descrição do Ponto/Pontão de Cultura"
            ng-model="avaliacao.pontoDescricao"
            disabled="true"
            rows="5"
            >
        </tc-input-text>

        <div class="col-md-12">
            <header class="section-header ">
                <h2>Validação dos Critérios para Certificação do Ponto/Pontão de Cultura</h2>
            </header>
        </div>

        <div class="clearfix" ng-repeat="criterio in avaliacao.criterios| orderBy:'ordem'">
            <tc-input-text
                label="{{$index + 1}}º Critério"
                ng-model="criterio.descricao"
                disabled="true"
                rows="5"
                >
            </tc-input-text>
            <tc-select
                ng-model="criterio.aprovado"
                label="O cadastro do Ponto/Pontão de Cultura atende ao {{$index + 1}}° Critério"
                col-input="2"
                field="label"
                options="simNao"
                disabled="!avaliacao.autorizaEdicao"
                >
            </tc-select>
            <div class="clearfix"></div>
            <hr/>
        </div>


        <tc-input-text
            label="Observações"
            ng-model="avaliacao.observacoes"
            rows="8"
            disabled="!avaliacao.autorizaEdicao"
            ng-required="indeferido()"
            >
        </tc-input-text>
    </tc-form>


    <header class="section-header ">
        <h2>Detalhes do cadastro do Ponto/Pontão de Cultura</h2>
    </header>

    <uib-tabset ng-init="{ref_active:0}" ng-if="avaliacao">
        <uib-tab select="ref_active = 0">
            <uib-tab-heading>
                <span class="glyphicon glyphicon-user"></span>
                <span class="visible-lg-inline-block">Informações do Responsável</span>
                <span class="visible-md-inline-block visible-sm-inline-block">Responsável</span>
            </uib-tab-heading>

            <ng-include ng-if="ref_active === 0" src="'modules/Certificacao/templates/TabResponsavel.html'"></ng-include>
        </uib-tab>

        <uib-tab select="ref_active = 1">
            <uib-tab-heading>
                <span class="glyphicon glyphicon-home"></span>
                <span class="visible-lg-inline-block">Entidade ou Coletivo Cultural</span>
                <span class="visible-md-inline-block visible-sm-inline-block">Entidade</span>
            </uib-tab-heading>

            <ng-include ng-if="ref_active === 1" src="'modules/Certificacao/templates/TabEntidade.html'"></ng-include>
        </uib-tab>

        <uib-tab select="ref_active = 2">
            <uib-tab-heading>
                <span class="glyphicon glyphicon-map-marker"></span>
                <span class="visible-lg-inline-block">Ponto no Mapa</span>
                <span class="visible-md-inline-block visible-sm-inline-block">Mapa</span>
            </uib-tab-heading>

            <ng-include ng-if="ref_active === 2" src="'modules/Certificacao/templates/TabPonto.html'"></ng-include>
        </uib-tab>


        <uib-tab select="ref_active = 3">
            <uib-tab-heading>
                <span class="glyphicon glyphicon-paperclip"></span>
                <span class="visible-lg-inline-block">Formulário de Cadastro</span>
                <span class="visible-md-inline-block visible-sm-inline-block">Cadastro</span>
            </uib-tab-heading>

            <div class="blank-slate-pf" >
                <p>
                    <a
                        class="btn btn-primary"
                        ng-href="/admin/cadastro/{{avaliacao.usuarioId}}"
                        target="_blank"
                        > Clique Aqui
                    </a>
                    para visualizar o formulário de cadastro
                </p>
            </div>
        </uib-tab>

    </uib-tabset>
</div>
