<div class="tc-input col-md-{{col|| 12}}">
    <tc-base-field>
        <div class="row">
            <div class="col-md-{{colInput|| 12}}">
                <input
                    id="{{tcInputName}}"
                    name="{{tcInputName}}"

                    class="form-control spinner-input text-center"

                    ng-required="required"
                    ng-disabled="disabled"
                    ng-readonly="readonly"

                    ng-blur="blur"
                    ng-keyup="keyup"
                    ng-keydown="keydown"
                    ng-paste="paste"
                    ng-copy="copy"
                    ng-cut="cut"
                    ondrop="return false"
                    />
            </div>
        </div>
    </tc-base-field>
</div>
